#m-header {
  height: 30px;
  background: #9F0;
  padding: 10px 0;
  background-image:url('../images/header-bg.jpg');
}
.mainTable
{
	margin-left:35%; 
	margin-top:5%
}
.bigbox
{
	background-image:url('../images/big_box.png');
	background-repeat:no-repeat;
	height:37px;
	width:434px;
	
}
.bigtitle
{
	font-family : Verdana ;
	font-size: 15px;
	color: White;
	margin-bottom:7px;
	margin-left:12px;
	float:left;

	
}
.homeicon
{
	float:right;
	margin-right:12px;
	margin-bottom:7px;
	border:0px;		
}
.bigbox1
{
	background-image:url('../images/big_box.png') ;
	background-repeat:no-repeat;
	background-position : 0px -35px;
}
.bigbox2
{
	background-image:url('../images/big_box.png') ;
	background-repeat:no-repeat;
	background-position : 0px -393px;
	height: 8px;		
}
.loaderimg
{
	visibility:hidden;
	text-align:center;	
			
}
.btnDiv
{
	margin-left:30px; 
	margin-right:30px; 
	width:370px;
}
.lableText
{
	color:#436aad;
	float:left;
}

.dataStyle
{
	color:#c4001d;
}
.phpDiv
{
	width:90%; 
	float:right;
	margin:10px;
}

.badgediv
{
 	width:90%;
 	 float:left;
 	 margin:10px;'
				
}