#m-header {
  height: 30px;
  background: #9F0;
  padding: 10px 0;
  background-image:url('../images/header-bg.jpg');
}
.headerText
{
	font-size:20px;
	font-family:Verdana;
	text-align:center;
	font-weight:bold;
	color:#ffffff;
	vertical-align:top;
	position:relative;
	padding:9px;
	padding-left:16%;
	letter-spacing:1px;
	text-shadow: 1px 1px 1px #032054;		
}

#m-aside {
  position: absolute;
  width: 260px;
  height: 100%;
  /* background-color:#293f71; */
  left: -260px;
  z-index: 5;
}

.questbg1{
 cursor: pointer;
background-image:url('../images/bg1.jpg');
height:30px;
width:100%;
border-color: #849dc9;  
border-style: solid; 
border-width: 3px; 
-moz-border-radius: 5px; 
border-radius: 5px;			
}
.questbg2{
 cursor: pointer;
background-image:url('../images/bg2.jpg');
height:30px;
width:100%;
border-color: #849dc9;  
border-style: solid; 
border-width: 3px; 
-moz-border-radius: 5px; 
border-radius: 5px;			
}

.questbg3{
 cursor: pointer;
background-image:url('../images/bg3.jpg');
height:30px;
width:100%;
border-color: #849dc9;  
border-style: solid; 
border-width: 3px; 
-moz-border-radius: 5px; 
border-radius: 5px;			
}

.questbg4{
 cursor: pointer;
background-image:url('../images/bg4.jpg');
height:30px;
width:100%;
border-color: #849dc9;  
border-style: solid; 
border-width: 3px; 
-moz-border-radius: 5px; 
border-radius: 5px;			
}

.questinfobg{
 cursor: pointer;
  background-color:#3b4352;
height:30px;
width:100%;
margin-bottom:5px;
border-color: #849dc9;  
border-style: solid; 
border-width: 3px; 
-moz-border-radius: 5px; 
border-radius: 5px;					
	
}

.getallquest{
margin-top:4px;
text-align:center;
font-weight:bold;
color:#ffffff;
}

.createquestDiv{
background-color:#3b4352;
height:220px;
width:auto;
margin-bottom:5px;
border-color: #849dc9;  
border-style: solid; 
border-width: 3px; 
-moz-border-radius: 5px; 
border-radius: 5px;	
}

.dataDiv{
margin-top:5px;
vertical-align:top;
}

.createquestDiv{
background-color:#3b4352;
height:220px;
width:auto;
margin-bottom:5px;
border-color: #849dc9;  
border-style: solid; 
border-width: 3px; 
-moz-border-radius: 5px; 
border-radius: 5px;
margin:10px;	
}
.savequestDiv{
margin:10px;
cursor: pointer;
background-image:url('../images/bg3.jpg');
height:30px;
width:auto;
border-color: #849dc9;  
border-style: solid; 
border-width: 3px; 
-moz-border-radius: 5px; 
border-radius: 5px;	
text-align:center;		
}

 